.description-text{
    margin-bottom: 27px;
    font-size: 18px;
    line-height: 1.7em;
    font-weight: 400;
    text-align: left;
}
.border{
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
.church-img{
    margin-bottom: 40px;
}